body{
    display: flex;
    justify-self: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(198, 170, 253);
}

a {
    text-decoration: none;
}
 
.box {
    font-size: 20px;
    color:antiquewhite;
    height: 300px;
    width: 500px;
    border-radius: 10px;
    background-color: black;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
} 